body
{
  text-align: center;
  background-color: #464646;
  font-family: system-ui, -apple-system, system-ui,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#root
{
  margin-top: 200px;  
  display: flex;
  justify-content: center; 
}

.layout-wrapper
{
  display: flex;
  flex-direction: column;    
  align-items: flex-start;
}

.board-wrapper
{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.chess-board
{
  border: 1px solid #cacaca;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.info-panel
{
  width: 200px;
  background-color: #d5d5d5;
  position: relative;
  padding: 20px;
}

.move-history
{
  max-height: 363px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 4%;
}

.move-log
{
  width: 48%;
  border: 0;
  padding: 6px 10px;
  margin: 2px 0;
  border-radius: .25rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.move-white
{
  color: white;
  background-color: #98c1e7;
}

.move-white:hover
{
  background: #88acce;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.move-black
{
  background-color: white;
}

.move-black:hover
{
  background: #f0f7ff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.move-selected
{
  background: #4da3ff;
  color: white;
  font-weight: bold;
}

.move-selected:hover
{
  background: #4da3ff;
  box-shadow: none;
  cursor: default;
}

.history-buttons
{
  position: absolute;
  bottom: 90px;
  right: 30px;
  display: flex;
  justify-content: space-evenly;
}

.history-buttons button
{
  width: 45px;
  height: 45px;
  border-radius: .25rem;
  border: 1px solid #c9c9c9;
  background: #fafafa;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.15s ease, box-shadow 0.15s ease, transform 0.1s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history-buttons button:hover 
{
  background: #f0f7ff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.forfeit-button.action-button
{
  position: absolute;
  bottom: 20px;
  right: 75px;
}

.board-row
{
  display: flex;
  justify-content: center;
}

.board-row:nth-child(even) .square:nth-child(odd), .board-row:nth-child(odd) .square:nth-child(even)
{
  background-color: #9dd09d;
  color: beige;
}

.board-row:nth-child(odd) .square:nth-child(odd), .board-row:nth-child(even) .square:nth-child(even)
{
  background-color: beige;
  color: #9dd09d;
}

.square
{
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 50px;
  position: relative;
}

.coordinate
{
  position: absolute;
  font-size: 10px;
  line-height: normal;
  bottom: 3px;
  left: 3px;
  z-index: 5;
  font-weight: bold;
}

.coordinate.y-axis
{
  top: 3px;
  bottom: auto;
  right: 3px;
  left: auto;
}

.white-piece
{
  color: white;
  text-shadow: 0 0 3px #000;
}

.black-piece
{
  color: black;
  text-shadow: 0 0 3px #ffffff;
}

.highlight
{
  color: rgba(0, 0, 0, 0.5);
  font-size: 50px;
  line-height: 1;
  display: block;
  transform: translateY(5px);
}

.piece 
{
  width: 70px;
  display: block;
  z-index: 10;
  position: relative;
}

.capture
{
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.5);
}

.selected
{
  background-color: rgb(153 163 255 / 50%);
}

.end-popup
{
  width: 280px;
  position: absolute;
  background-color: white;
  z-index: 100;
  left: 141px;
  top: 186px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.end-popup h4
{
  letter-spacing: 1px;
  line-height: 25px;
  background-color: #98c1e7;
  color: white;
  margin: 0;
  padding: 20px 50px;
}

.end-popup p 
{
  margin: 0;
}

.end-popup div
{
  padding: 20px 50px;
}

.action-button
{
  min-width: 85px;
  margin-top: 20px;
  align-items: center;
  background-clip: padding-box;
  background-color: #98c1e7;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.action-button:hover
{
  background: #88acce;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}

.turn-timer
{
  background-color: #98c1e7;
  color: white;
  display: inline-block;
  padding: 12px 24px;
  width: 93px;
  font-weight: bold;
  font-size: 18px;
}

.timer-black
{
  border-radius: .25rem .25rem 0px 0px;
}

.timer-white
{
  border-radius: 0px 0px .25rem .25rem;
}

.vertical-menu
{
  display: flex;
}

.menu-black
{
  align-items: flex-end;
}

.menu-white
{
  align-items: flex-start;
}

.capture-pieces
{
  display: inline-block;
  font-size: 18px;
  color: white;
}

.timer-selection
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.timer-selection button
{
  margin: 0;
}

.reverse-true
{
  transform: rotate(180deg);
}

.promote-menu
{
  display: flex;
  position: absolute;
  top: -65px;
  background-color: white;
  z-index: 1000;
  border: 1px solid #cccccc;
  border-radius: .25rem;
}

.promote-piece
{
  font-size: 150%;
  padding: 10px 15px;
  border-right: 1px solid #cccccc;
  cursor: pointer;
}

.promote-piece:hover
{
  background-color: #f0f7ff;
}

.promote-piece:last-child
{
  border: 0;
}

.promote-menu::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 102px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.error-prompt
{
  position: absolute;
  background-color: #d70000;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  border-radius: .25rem;
  top: 10px;
  left: 10px;
  font-weight: bold;
}

.canvas-overlay
{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}